Hi,
Thank you for booking an Appointment with Viet<br>
Appointment info: <br>
Student Name: <%=@user.name%>
Student email: <%=@user.email%>
Duration: 20 minutes max <br>
Date: <%=@appt.date%>
time: <%=@appt.time%><br>
Zoom link: https://uofh.zoom.us/j/8920327319 <br>
Notice: If you want to cancle please go to https://dashboard.heroku.com/ then "UNBOOK" the Appointment before 12 hours</div>
