Hi,
Thank you for booking an Appointment with Viet
Appointment info: 
Student Name: <%=@user.name%>
Student email: <%=@user.email%>
Duration: 20 minutes max 
Date: <%=@appt.date%>
time: <%=@appt.time%>
Zoom link: https://uofh.zoom.us/j/8920327319
Notice: If you want to cancle please go to https://dashboard.heroku.com/ then "UNBOOK" the Appointment before 12 hours</div>
